# The RPC URL for the Base Sepolia network,
RPC_URL=

# Private key for the account that will interact with the Groth_16 verifier contract
PRIVATE_KEY=

# Required by sp1-sdk when SP1_PROVER=network
NETWORK_PRIVATE_KEY=

# The contract address for the Groth_16 verifier contract deployed on base sepolia
CONTRACT_ADDRESS=0x7ce1a51fc9e89578c278edf2418e70ac4ff54887
